<footer
  class="w-full min-h-[92px] py-6 px-16 font-sansserif flex justify-between bg-bgBlack gap-6"
>
  <a
    class="m-0 mt-1 font-pressStart flex items-center justify-center text-[1.3rem]"
    href="./index.html"
    >JdSI</a
  >
  <ul class="flex flex-wrap justify-center">
    <li class="py-2 px-4">
      <a class="text-secondary hover:text-green-500" href="./index.html"
        >Inicio</a
      >
    </li>
    <li class="py-2 px-4">
      <a class="text-secondary hover:text-green-500" href="./participants.html"
        >Participantes</a
      >
    </li>
    <li class="py-2 px-4">
      <a class="text-secondary hover:text-green-500" href="./contact.html"
        >Contáctanos</a
      >
    </li>
    <li class="py-2 px-4">
      <a class="text-secondary hover:text-green-500" href="./ia-generated.html"
        >Generada por IA</a
      >
    </li>
  </ul>
  <ul class="flex flex-wrap justify-center text-[1.15rem]">
    <li class="py-2 px-4">
      <a class="text-secondary hover:text-green-500" href="#"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
    </li>
    <li class="py-2 px-4">
      <a class="text-secondary hover:text-green-500" href="#"
        ><i class="fa-brands fa-facebook-f"></i
      ></a>
    </li>
    <li class="py-2 px-4">
      <a class="text-secondary hover:text-green-500" href="#"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
  </ul>
</footer>
