<nav
  class="h-[78px] flex items-center relative pt-4 pb-4 ps-16 pe-16 min-[992px]:justify-start min-[992px]:flex-nowrap"
>
  <div class="flex justify-between items-center px-[0.75rem] w-full mx-auto">
    <a
      class="m-0 mt-1 font-pressStart flex items-center justify-center text-[1.75rem]"
      href="./index.html"
      >JdSI</a
    >
    <div
      class="w-14 h-10 p-2 flex flex-col items-center justify-center gap-[6px] border rounded-md border-white lg:hidden"
    >
      <div class="w-6 h-[2px] bg-white"></div>
      <div class="w-6 h-[2px] bg-white"></div>
      <div class="w-6 h-[2px] bg-white"></div>
    </div>
    <div class="hidden lg:block">
      <ul class="flex items-center justify-center">
        <li>
          <a
            class="p-2 font-sansserif hover:text-secondary"
            href="./participants.html"
            ><b>Participantes</b></a
          >
        </li>
        <li>
          <a
            class="p-2 font-sansserif hover:text-secondary"
            href="./contact.html"
            ><b>Contáctanos</b></a
          >
        </li>
        <li>
          <a
            class="p-2 font-sansserif hover:text-secondary"
            href="./ia-generated.html"
            ><b>Generada por IA</b></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
